<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        html {
        -webkit-print-color-adjust: exact;
        }
        body {
      font-family: Arial, sans-serif;
      
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
      text-align: center;
      font-size: 13px;

      /* min-height: 100vh; */
    }
    .main-proforma {
        width: 80%;
      margin-top: 10%;
      border: 1px solid black;
    }
    .table-top {
  border: 0.5px solid black;
  border-collapse: collapse;
}

.table-top1 {
  border: 1px solid black;
  border-collapse: collapse;
}

.bg-color {
    background-color: black;
    color: white;
}
    </style>
    
</body>
<center><div class="main-proforma">
    <table class="header" style="width: 100%;">
        <tr>
            <td><img src="<%= imgSrc %>" alt="" width="80" style="margin-right: 60px;"></td>
        <td><h2>R C Henning Coffee Company</h2></td>
        </tr>
        
    </table>
    <div class="address" style="display: flex; justify-content: space-between; text-align: left;">
        <p style="font-weight: bold;">
            2558 GREENWOOD LANE, <br>
            120, CAMERON PARK, <br>
            CA,USA <br>
            
           
            <span>Email : accounts@rchenning.in</span><br>
            <span>Mobile No. (800) 297-4001</span><br>
            <!-- <span>GSTIN : 24AAQCM4775M1ZP</span><br> -->
        </p>
        <div>
            <h3>Invoice</h3>
            <table class="table-top1">
                <tr>
                    <td class="table-top1" style="min-width: 75px;">Invoice No.</td>
                    <!-- <td class="table-top1" style="min-width: 75px;"><%= InvoiceNo %>/<%= InvoiceYear %></td> -->
                    <td class="table-top1" style="min-width: 75px;"> 01 / 2024 </td>
                </tr>
                <tr>
                    <td class="table-top1" style="min-width: 75px;">Date</td>
                    <!-- <td class="table-top1" style="min-width: 75px;"><%= newDate %></td> -->
                    <td class="table-top1" style="min-width: 75px;">24th February, 2024</td>
                </tr>
                <!-- <tr>
                    <td class="table-top1" style="min-width: 75px;">Reference PI No.</td>
                    <td class="table-top1" style="min-width: 75px;"><%= piNo %>/<%= piYear %></td>
                </tr> -->
            </table>
        </div>
    </div>
    <div class="bill" style="width: 100%;">
        <table style="width: 100%; border: none;" CELLSPACING=0>
            <tr style="width: 100%; border: none; margin-left: 10px;">
                <th align="left" style="background: #000 !important;color: #fff !important; border: none; border-collapse: collapse; padding-left: 10px;" class="bg-color">BILL TO: </th>
                <th align="left" style="background: #000 !important;color: #fff !important; border: none; border-collapse: collapse; padding-left: 10px;" class="bg-color">SHIP TO: </th>

            </tr>
            <tr style="width: 100%; margin-left: 10px;">
                <td style="padding-left: 10px;">
                    <p style="margin-top: 2px; margin-bottom: 2px;">Name: John</p>
                    <p style="margin-top: 2px; margin-bottom: 2px;">Address: 4732 Fittro Street, Whitethorn, California</p>
                    <p style="margin-top: 2px; margin-bottom: 2px;">Phone: 870-292-9483</p>
                    <!-- <p style="margin-top: 2px; margin-bottom: 2px;">GSTIN:  <%= performaData.gstNo %></p> -->
                </td>
                <td style="padding-left: 10px;" valign="top">
                    <p style="margin-top: 2px; margin-bottom: 2px;">Name: John</p>
                    <p style="margin-top: 2px; margin-bottom: 2px;">Address: 4936 Layman Court, Norcross,  California</p>
                    <p style="margin-top: 2px; margin-bottom: 2px;">Phone: 870-292-9421</p>
                    <!-- <p>GSTIN: </p> -->
                </td>
            </tr>
        </table>
    </div>
    <div class="main-table" style="margin-top: 20px;">
        <table style="width: 100%; border: none;" CELLSPACING=0>
            <tr style="width: 100%; border: none; margin-left: 10px;">
                <th style="background-color: black;color: white; border: none; border-collapse: collapse; width: 10%;">Sr No.</th>
                <th style="background-color: black;color: white; border: none; border-collapse: collapse; width: 30%;">Description</th>
                <th style="background-color: black;color: white; border: none; border-collapse: collapse; width: 10%;">Quantity</th>
                <!-- <th style="background-color: black;color: white; border: none; border-collapse: collapse; width: 20%;">HSN/SAC Code</th> -->
                <th style="background-color: black;color: white; border: none; border-collapse: collapse; width: 20%;">Tax Rate</th>
                <th style="background-color: black;color: white; border: none; border-collapse: collapse; width: 30%;">Amount</th>

            </tr>
            <!-- <% pIServicesAndProductsData.forEach((service,index) => { %> -->
            <tr class="table-top" style="width: 100%; margin-left: 10px;">
                <!-- <td class="table-top" align="center" style="min-height: 30px; padding-left: 5px; vertical-align: top;"><%= index+1 %></td> -->
                <td class="table-top" align="center" style="min-height: 30px; padding-left: 5px; vertical-align: top;">1</td>

                <!-- <td class="table-top" style="min-height: 30px; padding-left: 5px; vertical-align: top;"><% if (service.ServiceName) { %><%= service.ServiceName %><% } else { %><%= service.ProductName %><% } %><br><%= service.description %></td> -->
                <td class="table-top" style="min-height: 30px; padding-left: 5px; vertical-align: top;">CAPPUCCINO: Espresso, Steam milk, Foam</td>

                <!-- <td class="table-top" align="center" style="min-height: 30px; padding-left: 5px; vertical-align: top;"><%= service.quantity %></td> -->
                <td class="table-top" align="center" style="min-height: 30px; padding-left: 5px; vertical-align: top;">2</td>

                <!-- <td class="table-top" align="center" style="min-height: 30px; padding-left: 5px; vertical-align: top;"><%= service.HSN  %></td> -->
                <!-- <td class="table-top" align="center" style="min-height: 30px; padding-left: 5px; vertical-align: top;"><%= service.taxRate %>%</td> -->
                <td class="table-top" align="center" style="min-height: 30px; padding-left: 5px; vertical-align: top;">$ 5</td>

                <!-- <td class="table-top" align="right" style="min-height: 30px; padding-left: 5px; vertical-align: top;">₹ <%= (parseFloat(service.costPerUnit) * service.quantity).toFixed(2) %></td> -->
                <td class="table-top" align="right" style="min-height: 30px; padding-left: 5px; vertical-align: top;">$ 20</td>

            </tr>
            <!-- <% }); %> -->
            <tr class="table-top">
                <th class="table-top" colspan="2" align="center" style="background-color: black;color: white;"><i>Terms & Conditions<sup>*</sup></i></th>
                <td colspan="2" align="left" class="table-top">TOTAL</td>
                <!-- <td align="right" class="table-top">₹ <%= total.toFixed(2) %></td> -->
                <td align="right" class="table-top">$ 20</td>
            </tr>
            <tr class="table-top">
                <!-- <td rowspan="6" colspan="2" class="table-top"><%= performaData.remarks %></td> -->
                <td rowspan="6" colspan="2" class="table-top">Drink Menu Product</td>
                <td colspan="2" align="left" class="table-top">FREIGHT CHARGES</td>
                <!-- <td align="right" class="table-top">₹ <%= freightCharges.toFixed(2) %></td> -->
                <td align="right" class="table-top">$ 5</td>
            </tr>
            <tr class="table-top">
                <!-- <td rowspan="6" colspan="3" class="table-top"></td> -->
                <td colspan="2" align="left" class="table-top">OTHER CHARGES</td>
                <!-- <td align="right" class="table-top">₹ <%= otherCharges.toFixed(2) %></td> -->
                <td align="right" class="table-top">$ 2<td>

            </tr>
            <!-- <tr class="table-top">
                <td colspan="2" align="left" class="table-top">Add: SGST</td>
                <td align="right" class="table-top">₹ <%= tax1.toFixed(2) %></td>
            </tr>
            <tr class="table-top">
                <td colspan="2" align="left" class="table-top">Add: CGST</td>
                <td align="right" class="table-top">₹ <%= tax2.toFixed(2) %></td>
            </tr> -->
            <tr class="table-top">
                <td colspan="2" align="left" class="table-top">Add: TAX</td>
                <!-- <td align="right" class="table-top">₹ <%= tax3.toFixed(2) %></td> -->
                <td align="right" class="table-top">$ 5</td>

            </tr>
            <tr class="table-top">
                <!-- <td rowspan="5" colspan="3" class="table-top"></td> -->
                <td colspan="2" align="left" class="table-top">Grand Total</td>
                <!-- <td align="right" class="table-top">₹ <%= grandtotal %></td> -->
                <td align="right" class="table-top">$ 32</td>

            </tr>
            <tr>
                <!-- <th class="table-top" colspan="3" style="background-color: black;color: white;">Bank Details</th> -->
                <th class="table-top" colspan="3" style="background-color: black;color: white;">For RC Henning Coffee Company</th>


            </tr>
            <tr>
                <!-- <td class="table-top" colspan="3" rowspan="2" >Beneficiary Name: <%= performaData.accountHolder %><br>Bank: <%= performaData.bankName %><br>A/c No.: <%= performaData.accountNo %><br>Branch: <%= performaData.branchName %><br>IFSC: <%= performaData.IFSC %></td> -->
                <td class="table-top" colspan="3" ></td>
            </tr>
            <!-- <tr>
                <th class="table-top" colspan="3" style="background-color: black;color: white;">Authorized Signatory</th>
            </tr> -->

        </table>
    </div>
    <p>* This is system generated invoice, Does not require any signature.</p>
</div></center>
</html>